#map-wrapper-outer {
  display: "flex";
  justify-content: center;
  align-items: center;
  position: relative;
}
#map {
  height: 100%;
  width: 100%;
  position: relative;
}

#map-wrapper-inner {
  position: relative;
  height: 800px;
  width: 100%;
}

.mapboxgl-popup-content * {
  margin: 0;
}

.mapboxgl-popup-content a {
  display: block;
}

.mapboxgl-popup-content p {
  margin: 0.5rem 0 !important;
  font-size: 1em !important;
  line-height: 1.25;
}

.svf-marker-alcohol {
  font-size: 3.5rem;
}

[class^="svf-marker"] {
  font-size: 30px;
}

[class^="svf-marker"] img {
  margin: 0 !important;
  transform: translateY(-5px);
}

.mapboxgl-popup-close-button {
  padding: 0 !important;
  margin: 0 !important;
  background-color: white !important;
  font-size: 20px;
  line-height: 12px;
  padding: 5px !important;
}

#map h3 {
  font-size: 1rem;
}

.map-filter {
  background: #fff;
  position: absolute;
  z-index: 1000;
  width: 150px;
  left: 10px;
  top: 10px;
  line-height: 10px;
  padding: 10px;
}

.map-filter .filter-button {
  line-height: 1;
  cursor: pointer;
  padding: 5px;
}

.map-filter .content {
  display: none;
}

.map-filter.expanded {
  width: 300px;
}

.map-filter.expanded .content {
  display: block;
}

.map-filter input {
  font-size: 14px;
  margin: 0 !important;
  outline-offset: 0 !important;
  border: none !important;
  width: 100%;
  padding: 2px !important;
}

.wp-block-places-map {
  max-width: 1000000px !important;
}
